@inherits LayoutComponentBase

<div class="main">
    <div class="top-row">
        <ul class="nav nav-pills">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <OpenIconic IconId="book" /> Tables
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="settings">
                    <OpenIconic IconId="wrench" /> Settings
                </NavLink>
            </li>
        </ul>
        <a href="https://github.com/olivierdagenais/personal-records" target="_blank" class="ml-md-auto">
            <OpenIconic IconId="fork" /> olivierdagenais/personal-records
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
